<li id="micropost-<%= sample.id %>">
    <%= link_to gravatar_for(sample.user, size: 50), sample.user %>
    <span class="user"><%= link_to sample.user.name, sample.user %></span>
    <span class="content"><%= sample.content %></span>
    <span class="timestamp"> Posted <%= time_ago_in_words(sample.created_at) %> ago. 
      <% if current_user == sample.user %>
        <%= link_to "delete", sample, method: :delete, data: {confirm: "you sure?"} %>
      <% end %>
    </span>
</li>