<li id="micropost-<%= sample.id %>">
    <% if @user.image %>
      <%= image_tag "/user_images/#{@user.image}", class: 'feed_image' %>
    <% else %>
      <%= image_tag "aa.jpg", class: 'feed_image' %>
    <% end %>
    <span class="user"><%= link_to sample.user.name, sample.user %></span>
    <span class="content"><%= sample.content %></span>
    <span class="timestamp"> Posted <%= time_ago_in_words(sample.created_at) %> ago. 
      <% if current_user == sample.user %>
        <%= link_to "delete", sample, method: :delete, data: {confirm: "you sure?"} %>
      <% end %>
    </span>
</li>