<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
        <h1>
          <% if @user.image %>
            <%= image_tag "/user_images/#{@user.image}", class: 'profile_image' %>
          <% else %>
            <%= image_tag "no_image.png", class: 'profile_image' %>
          <% end %>
          <%= @user.name %>
        </h1>
        <p><%= @user.email %></p>
        <p><%= link_to "#{@user.likes.count}件いいねしました。", like_sample_user_path(@user.id) %></p>
    </section>
    <div class="row">
      <div class="col-xs-6">
        <%= link_to 'Following', followings_path(@user.id) %>
        <%= @user.following_users.count %>
      </div>
      <div class="col-xs-6">
        <%= link_to 'Followers', followers_path(@user.id) %>
        <%= @user.follower_users.count %>
      </div>
    </div>
  </aside>
  <div class="col-md-8">
      <%= render 'follow_form' if logged_in? %>
      <% if @cnt != 0 %>
        <h3><%= @title %>(<%= @cnt %>)</h3>
        <ol class="microposts">
          <%= render @samples %>
        </ol>
      <% end %>
  </div>
</div>