<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
        <h1><%= image_tag 'aa.jpg' , class: 'profile_image' %><%= @user.name %></h1>
    </section>
    <div class="row">
      <div class="col-xs-6">
        <%= link_to 'Following', followings_path(@user.id) %>
        <%= @user.following_users.count %>
      </div>
      <div class="col-xs-6">
        <%= link_to 'Followers', followers_path(@user.id) %>
        <%= @user.follower_users.count %>
      </div>
    </div>
  </aside>
  <div class="col-md-8">
      <%= render 'follow_form' if logged_in? %>
      <% if @user.samples.any? %>
        <h3>Microposts (<%= @user.samples.count %>)</h3>
        <ol class="microposts">
          <%= render @samples %>
        </ol>
      <% end %>
  </div>
</div>