<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
        <h1>
          <% if @user.image %>
            <%= image_tag "/user_images/#{@user.image}", class: 'profile_image' %>
          <% else %>
            <%= image_tag "no_image.png", class: 'profile_image' %>
          <% end %>
          <%= @user.name %>
        </h1>
        <p><%= @user.email %></p>
        <p></p>
    </section>
    <div class="row">
      <div id="following" class="col-xs-4 text-center">
        <%= link_to followings_path(@user.id) do %>
           Following<br>
           <%= @user.following_users.count %>
        <% end %>
        <br>
      </div>
      <div id="follower" class="col-xs-4 text-center">
        <%= link_to followers_path(@user.id) do %>
          Followers<br>
          <%= @user.follower_users.count %>
        <% end %>
      </div>
      <div id="favorite" class="col-xs-4 text-center">
        <%= link_to like_sample_user_path(@user.id) do %>
          <%= fa_icon "heart", class: 'fa-lg addHeartColor' %><br>
          <span><%= @user.likes.count %></span>
        <% end %>
      </div>
    </div>
  </aside>
  <div class="col-md-8">
      <%= render 'follow_form' if logged_in? %>
      <% if @cnt != 0 %>
        <h3><%= @title %>(<%= @cnt %>)</h3>
        <ol class="microposts">
          <%= render @samples %>
        </ol>
      <% end %>
  </div>
</div>