<% if current_user.image %>
 <%= image_tag "/user_images/#{current_user.image}", class: 'profile_image' %>
<% else %>
  <%= image_tag 'no_image.png', class: 'profile_image' %>
<% end %>
<h1><strong><%= current_user.name %></strong></h1>
<span><%= link_to "view my profile", current_user %></span>
<span><%= pluralize(current_user.samples.count, "micropost") %></span>